body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
header a{
    text-decoration: none;
}
header a:hover{
    color: blue;
}

h1 {
    text-align: center;
    color: #333;
}
.login-container {
    border: 2px solid #ccc;
    height: auto;
    width: 250px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
h2{
    text-align: center;
}
input{
    width: 80%;
    padding: 10px;
    margin: 7px;
}

button {
    margin-left: 8px;
    width: auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* button:hover {
    background-color: #b33600;
} */

.container {
    max-width: 80%; 
    margin: 20px auto; 
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input#search {
    margin-bottom: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    position: relative; 
}

.actions-container {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
}

td button {
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

td button.edit {
    background-color: #007BFF; 
    color: white;
}

td button.edit:hover {
    background-color: #0056b3; 
}

td button.delete {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s;
}

td button.delete:hover {
    background-color: #c82333;
}
#pageination{

    display: flex;
    width: 100%;
}
#pageination button{
    background-color: transparent;
    color: black;
}

.btn1{
    background-color: transparent;
    color: black;
    font-weight: 500;

}
#pageination button.active{
    color: #0473ea;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

/* Media Query for Responsiveness */
@media (max-width: 600px) {
    .button-container {
        justify-content: center;
        margin-top: 10px;
    }

    .button-container button {
        width: 100%;
    }

    .login-container, .container {
        max-width: 100%; 
    }
}

